/* General Styles */
* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: lightgray;
}
::selection {
    background-color: rgb(229, 147, 147);
}
/* Mobile first styles go here */

/* Desktop styles go here */

.logo-container {
    display: flex;
}
#logo {
   text-align: center;
   margin: 0 auto;
   width: 95%;
}
@media screen and (min-width: 800px) {
    #logo {
        text-align: center;
        margin: 0 auto;
        width: 20%;
        height: auto;
     } 
}
h1 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
}
a:hover {
    text-decoration: underline;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    a:hover {
        text-decoration: underline;
        font-style: italic;
    }
}
a, a:visited {
    color: black;
    text-decoration: none;
}
@media screen and (min-width: 800px) {
    a, a:visited {
        color: black;
        text-decoration: none;
    }
}
/* dog container */
.dog-container {
    display: flex; 
    margin: 0 auto;
    /* width: 350px; */
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .dog-container {
        display: inline-flex;
        margin: 20px 70px;
        /* width: 1750px; */
        width: 92%;
        justify-content: space-between;
    }
}
.left-dog, .right-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .left-dog, .right-dog {
        /*
        display: inline-flex;
        align-items: baseline;
        */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 35%;
    }
}
.center-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightcoral;
    border-radius: 1rem 0 2rem 0;
}
@media screen and (min-width: 800px) {
    .center-dog {
        /*
        display: inline-flex;
        align-items: baseline;
        */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 25%;
        text-align: center;
        background-color: lightcoral;
        border-radius: 1rem 0 2rem 0;
    }
}
.dog {
    /* width: 220px; */
    width: 90%;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .dog {
        /* width: 550px; */
        width: 90%;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
@keyframes transl {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rorate(2.5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
img:hover {
    animation-name: transl;
    animation-duration: 2.5s;
}
@media screen and (min-width: 800px) {
    img:hover {
        animation-name: transl;
        animation-duration: 2.5s;
    }
}
#match-status {
    margin: 15px;
}
@media screen and (min-width: 800px) {
    #match-status {
        width: 420px;
        font-size: 1.5rem;
        font-style: italic;
    }
}
#credits {
    text-align: center;
    background-color: rgb(165, 160, 160);
    margin-top: 0.7rem;
    margin: 0 auto;
}
@media screen and (min-width: 800px) {
    #credits {
        text-align: center;
        background-color: rgb(165, 160, 160);
        font-size: 1.5rem;
        margin: 0 auto;
    }
}
#match-game {
    background-color: lightcoral;
    text-align: center;
    margin-bottom: 15px;
    height: 60px;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    #match-game {
        background-color: lightcoral;
        text-align: center;
        font-size: 1.7rem;
        height: 80px; 
        font-style: italic;
    }
}
button {
    padding: 7px;
    border-radius: 1rem 0 1.3rem 0;
}
@media screen and (min-width: 800px) {
    button {
        padding: 12px;
        border-radius: 1rem 0 1.3rem 0;
        cursor: pointer;
    }
}
button:hover {
    text-decoration: underline;
}
@media screen and (min-width: 800px) {
    button:hover {
        text-decoration: underline;
    }
}
#maledog-title, #femaledog-title {
    text-align: center;
    margin-top: 1rem;
}
@media screen and (min-width: 800px) {
    #maledog-title, #femaledog-title {
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
    }
}
#next-male, #next-female {
    margin-bottom: 0.8rem;
}
@media screen and (min-width: 800px) {
    #next-male, #next-female {
        margin-bottom: 0.8rem;
    }
}