/* General Styles */

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #f5cac2;
}
::selection {
    background-color: #ed7966;
}
/* Mobile first styles go first */

/* Desktop styles go second */

.logo-container {
    display: flex;
}
#logo {
   text-align: center;
   margin: 0 auto;
   width: 95%;
}
@media screen and (min-width: 800px) {
    #logo {
        text-align: center;
        margin: 0 auto;
        width: 20%;
        height: auto;
     } 
}
#pair-title {
    color: black;
}
@media screen and (min-width: 800px) {
    #pair-title {
        color: black;
    }
}
h1 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
}

/* Links */
a:hover {
    text-decoration: underline;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    a:hover {
        text-decoration: underline;
        font-style: italic;
    }
}
a, a:visited {
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 800px) {
    a, a:visited {
        color: white;
        text-decoration: none;
    }
}
/* Dog container */

.dog-container {
    display: flex; 
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .dog-container {
        display: inline-flex;
        margin: 20px 70px;
        width: 92%;
        justify-content: space-between;
    }
}

/* Inner Containers */

.left-dog, .right-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .left-dog, .right-dog {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 35%;
    }
}
.center-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightcoral;
    border-radius: 1rem 0 2rem 0;
    padding: 1rem;
}
@media screen and (min-width: 800px) {
    .center-dog {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 25%;
        text-align: center;
        background-color: lightcoral;
        border-radius: 1rem 0 2rem 0;
        padding-bottom: 4rem;
    }
}

/* Images */
.dog {
    width: 90%;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .dog {
        width: 90%;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}

/* Animations */
@keyframes transl {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rorate(2.5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
img:hover {
    animation-name: transl;
    animation-duration: 2.5s;
}
@media screen and (min-width: 800px) {
    img:hover {
        animation-name: transl;
        animation-duration: 2.5s;
    }
}
#match-status, #final-pair {
    margin: 15px;
}
@media screen and (min-width: 800px) {
    #match-status, #final-pair {
        width: 420px;
        font-size: 1.5rem;
        font-style: italic;
    }
}

/* Footer */

#credits {
    text-align: center;
    background-color: #4c4ea5;
    color: white;
    margin-top: 0.7rem;
    margin: 0 auto;
}
@media screen and (min-width: 800px) {
    #credits {
        text-align: center;
        background-color: #4c4ea5;
         color: white;
        font-size: 1.5rem;
        margin: 0 auto;
    }
}
#match-game {
    background-color: #4c4ea5;
    text-align: center;
    margin-bottom: 15px;
    height: 60px;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    #match-game {
        background-color: #4c4ea5;
        text-align: center;
        font-size: 1.7rem;
        height: 80px; 
        font-style: italic;
    }
}

/* Buttons */

button {
    padding: 7px;
    border-radius: 1rem 0 1.3rem 0;
}
@media screen and (min-width: 800px) {
    button {
        padding: 12px;
        border-radius: 1rem 0 1.3rem 0;
        cursor: pointer;
    }
}
button:hover {
    text-decoration: underline;
}
@media screen and (min-width: 800px) {
    button:hover {
        text-decoration: underline;
    }
}
#maledog-title, #femaledog-title {
    text-align: center;
    margin-top: 1rem;
}
@media screen and (min-width: 800px) {
    #maledog-title, #femaledog-title {
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
    }
}
#next-male, #next-female, #lock-male, #lock-female {
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}
@media screen and (min-width: 800px) {
    #next-male, #next-female, #lock-male, #lock-female  {
        margin-bottom: 0.8rem;
        margin-right: 0.8rem;
    }
}
#homepage {
    color: white;
}
@media screen and (min-width: 800px) {
    #homepage  {
        color: white;
    }
}
#btn-pair {
    color: black;
}
@media screen and (min-width: 800px) {
    #btn-pair {
        color: black;
    }
}