/* General Styles */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: lightgray;
}

/* Mobile first styles go here */

/* Desktop styles go here */

h1 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
}
a:hover {
    text-decoration: underline;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    a:hover {
        text-decoration: underline;
        font-style: italic;
    }
}
a, a:visited {
    color: black;
    text-decoration: none;
}
@media screen and (min-width: 800px) {
    a, a:visited {
        color: black;
        text-decoration: none;
    }
}
.container {
    display: flex;
    margin: 15px 30px;
    width: 350px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
@media screen and (min-width: 800px) {
    .container {
        display: flex;
        margin: 20px 70px;
        width: 1800px;
        justify-content: space-between;
}
}
.left, .right {
    display: inline-flex;
    /* border: 1px solid red; */
}
@media screen and (min-width: 800px) {
    .left, .right {
        display: inline-flex;
    }
}
.small {
    width: 220px;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
    border: 1px solid black;
    /* border: 1px solid green; */
}
@media screen and (min-width: 800px) {
    .small {
        width: 550px;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
@keyframes transl {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rorate(2.5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
img:hover {
    animation-name: transl;
    animation-duration: 2.5s;
}
@media screen and (min-width: 800px) {
    img:hover {
        animation-name: transl;
        animation-duration: 2.5s;
    }
}
.quote-one {
    width: 195px;
    /* border: 1px solid black; */
}
@media screen and (min-width: 800px) {
    .quote-one {
        width: 530px;
        font-size: 1.5rem;
    }
}