/* General Styles */
* {
    padding: 0;
    margin: 0;
    /*
    border: 1px solid black;
    */
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: lightgray;
}
/* Mobile first styles go here */

/* Desktop styles go here */

.logo-container {
    display: flex;
}
#logo {
   text-align: center;
   margin: 0 auto;
   width: 95%;
}
@media screen and (min-width: 800px) {
    #logo {
        text-align: center;
        margin: 0 auto;
        width: 20%;
        height: auto;
     } 
}
h1 {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
}
a:hover {
    text-decoration: underline;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    a:hover {
        text-decoration: underline;
        font-style: italic;
    }
}
a, a:visited {
    color: black;
    text-decoration: none;
}
@media screen and (min-width: 800px) {
    a, a:visited {
        color: black;
        text-decoration: none;
    }
}
/* Dog container */
.dog-container {
    display: flex; 
    margin: 0 auto;
    width: 335px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .dog-container {
        display: inline-flex;
        margin: 20px 70px;
        width: 1750px;
        justify-content: space-between;
    }
}
/* Cat container */
.cat-container {
    display: flex; 
    margin: 0 auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .cat-container {
        display: inline-flex;
        margin: 20px 70px;
        width: 1750px;
        justify-content: space-between;
    }
}
/* Bird container */
.bird-container {
    display: flex; 
    margin: 0 auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .bird-container {
        display: inline-flex;
        margin: 20px 70px;
        width: 1750px;
        justify-content: space-between;
    }
}
/* Horse container */
.horse-container {
    display: flex; 
    margin: 0 auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .horse-container {
        display: inline-flex;
        margin: 20px 70px;
        width: 1750px;
        justify-content: space-between;
    }
}
.left-dog, .center-dog, .right-dog {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 800px) {
    .left-dog, .center-dog, .right-dog {
        display: inline-flex;
        align-items: baseline;
    }
}
.left-cat, .center-cat, .right-cat, .left-bird {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 800px) {
    .left-cat, .center-cat, .right-cat, .right-bird {
        display: inline-flex;
        align-items: baseline;
    }
}
.left-horse, .right-horse {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 800px) {
    .left-horse, .right-horse {
        display: inline-flex;
        justify-content: flex-start;
        align-items: baseline;
    }
}
.dog {
    width: 220px;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .dog {
        width: 550px;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
.cat {
    width: 220px;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .cat {
        width: 550px;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
.bird {
    width: 220px;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .bird {
        width: 830px;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
.horse {
    width: 220px;
    height: auto;
    border-radius: 1rem 0 2rem 0;
    margin: 10px 0;
}
@media screen and (min-width: 800px) {
    .horse {
        width: 830px;
        height: auto;
        border-radius: 1rem 0 2rem 0;
    }
}
@keyframes transl {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rorate(2.5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
img:hover {
    animation-name: transl;
    animation-duration: 2.5s;
}
@media screen and (min-width: 800px) {
    img:hover {
        animation-name: transl;
        animation-duration: 2.5s;
    }
}
.quote-one {
    width: 220px;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    .quote-one {
        font-style: italic;
    }
}
#cat-quote {
    margin: 15px;
}
@media screen and (min-width: 800px) {
    #cat-quote {
        width: 420px;
        font-size: 1.5rem;
        font-style: italic;
    }
}
#horse-quote {
    margin: 15px;
    text-align: center;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    #horse-quote {
        width: 420px;
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        font-style: italic;
    }
}
#credits {
    text-align: center;
    background-color: rgb(165, 160, 160);
    margin-top: 0.7rem;
}
@media screen and (min-width: 800px) {
    #credits {
        text-align: center;
        background-color: rgb(165, 160, 160);
        font-size: 1.5rem;
    }
}